In [6]:
import pandas as pd # Import Pandas is the First thing and Most important thing to do.

# RESEARCH FILTER

In [30]:
nba = pd.read_csv("nba.csv").dropna(how = "all") # This is how to read the csv file that you want to analyze. 
nba["Salary"].fillna(0, inplace = True) # Fillna use to fill the NaN value in the file with the number you provide.
nba["College"].fillna("No College", inplace = True)

## Count how many players in NBA

In [17]:
Player_number = len(nba["Name"].unique()) # The unique is to check all the unique value in the file, and the len is show the number of it. 

print("How many players in NBA? :", Player_number)

How many players in NBA? : 457

## Count the number of player in NBA younger than 30.

In [18]:
low_age = len(nba[nba["Age"] < 30]) # show the number player with age less than 30.
print("How many players have age less than 30? :", low_age)

How many players have age less than 30? : 335

## Count the player in Boston Celtics.

In [19]:
boston_player = len(nba[nba["Team"] == "Boston Celtics"])
print("How many player in Boston Celtics? :", boston_player)

How many player in Boston Celtics? : 15

## Count how many player in Boston Celtics are younger than 25.

In [31]:
mask1 = nba["Team"] == "Boston Celtics"
mask2 = nba["Age"] < 25
boston_25 = len(nba[mask1 & mask2])
print("How many player in Boston Celtics are younger than 25? :", boston_25)

How many player in Boston Celtics are younger than 25? : 6

## Show the three players with large Number.

In [23]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("No College", inplace = True)

large_number= nba.sort_values("Number").tail(3)
large_number

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,No College,12000000.0
68,Lucas Nogueira,Toronto Raptors,92.0,C,23.0,7-0,220.0,No College,1842000.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

## Show the three Oldest players in NBA.

In [109]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("No College", inplace = True)

nba.sort_values("Age").tail(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
298,Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
400,Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,No College,8500000.0
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0

## Show who have the highest salary in NBA.

In [133]:
high_salary = nba.sort_values("Salary", ascending = False).head(1)

print("Who have the highest salary in the league? :", high_salary["Name"])

Who have the highest salary in the league? : 109    Kobe Bryant
Name: Name, dtype: object

## Show which team have most players.

In [140]:
nba["Team"].value_counts().head(1)

New Orleans Pelicans    19
Name: Team, dtype: int64

## Show how many team in NBA.

In [28]:
len(nba["Team"].unique())

30

## Show how many players for each position in NBA.

In [27]:
nba["Position"].value_counts().head()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64